@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Delius&display=swap');
header{
    width:100%;
}
body{
   background-color:rgb(249, 248, 247); 
}
section{
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
}
h1{
    font-size: 20px;
    align-items: start;
    align-content: start;
    justify-content: start;
    justify-items: start;
    width: 100%;
}
h2{
    color:rgb(73, 85, 160);
    font-size: 50px;
    text-align: center;
    border: 5px;
    border-color:rgb(52, 63, 114);
    border-style:solid;
    padding: 20px;
    font-family: "Delius";
}
h3{
    color: rgb(73, 85, 160);
    font-size: 30px;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    border-bottom: 2px;
    border-color:rgb(52, 63, 114);
    border-style:solid;
    width: 500px;
    margin-bottom:0px;
    font-family: "Delius";
}
img{
    display:block;
    width:50%;
    height:50%;
    padding-top: 10px;
}
footer{
    padding:20px;
}
p{
padding-top:5px;
font-family: 'averia libre';
}
p > a{
color:rgb(49, 163, 36);
text-decoration: none;
}
p > a:hover{
color:rgb(145, 26, 26);
text-decoration:underline;
}
